.frame {
  -webkit-app-region: drag;
  height: 30px;
  position: fixed;
  position: absolute;
  width: 100%;
  background-color: #2f2f2f;
  font-family: Webdings;
  text-align: right;
  font-size: 12px;
  cursor: move;
  padding-top: 2px;
}

.frame a {
    -webkit-app-region: no-drag;
    color: #9f9f9f;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 28px;
}

.frame a:hover {
    color: gray;
    background-color: #3e3e3e;
}

.frameTitle {
  float: left;
  padding-left: 45%;
  padding-top: 3px;
  font-size: 13px;
  font-weight: bolder;
  text-transform: capitalize;
}