<!DOCTYPE html>
<html lang="en" ng-app="ChillaxApp">
  <head>
	<link rel="stylesheet" href="./foundation/css/foundation.css">
	<link rel="stylesheet" href="./font-awesome-4.3.0/css/font-awesome.css">
	<link rel="stylesheet" href="./sticky-footer/style.css">
	<script src="./angularjs/angular.min.js"></script>
	<script src="./js/app.js"></script>
  </head>
  <body ng-controller="ChillaxController as chillax">

  <div id="wrap">

	<div id="main">

	<div class="row">
		&nbsp; <!-- Empty row -->
	</div>
	<div class="row">
	  
		<div class="small-1 large-4 columns">&nbsp;</div>
	  
	  	<div class="small-10 large-4 columns">
	  		
	  		<div class="row">
	  			
	  			<div class="small-6 large-6 columns text-right">
	  				Enable reminder
	  			</div>
				<div class="small-6 large-6 columns">
	  				<div class="switch">
					  <input id="exampleCheckboxSwitch" type="checkbox" ng-model="chillax.enabled" ng-change="chillax.saveSettings()">
					  <label for="exampleCheckboxSwitch"></label>
					</div> 
	  			</div>
	  		</div>

	  		<div class="row" ng-model="chillax.settings">
	  			
	  			<form>
				  <div class="row">
				    <div class="large-6 columns">
				      <label>Reminder Interval
				        <input type="number" min="1" max="999" required placeholder="Duration in minutes" ng-model="chillax.intervalDuration" ng-change="chillax.saveSettings()"/>
				      </label>
				    </div>
				    <div class="large-6 columns">
				      <label>Break Interval
				        <input type="number" min="1" max="999" required placeholder="Duration in minutes" ng-model="chillax.breakInterval" ng-change="chillax.saveSettings()"/>
				      </label>
				    </div>
				   
				  </div>

				  <div class="row">
				    <div class="large-12 columns">
				      <div class="row collapse">
				        <div class="small-10 columns">
				         <label>Play Sound
					        <select ng-model="chillax.sound"  ng-change="chillax.saveSettings()">
					          <option select value="NON">No sound</option>
					          <option value="DINGDONG">Ding Dong</option>
					          <option value="CHURCH">Church</option>
					          <option value="IMCHAT">IM Chart</option>
					        </select>
					      </label>
				        </div>
				        <div class="small-2 columns">
				        	<label>&nbsp;
				          		<a href="#" class="button postfix" style="padding:0px;" ng-click="chillax.playSound()"><i class="fa fa-play-circle fa-4 text-left"></i></a>
				          </label>
				        </div>
				      </div>
				    </div>
				   
				  </div>
				  
				</form>

	  		</div>

		</div>

		<div class="small-1 large-4 columns">&nbsp;</div>

		

	</div>



	</div>

</div>


		<div id="footer" style="background: #2a2a2a; color: #e7989d; text-align: center">
			<!-- Next reminder will be at: 12:46pm rgb(156, 188, 104) !-->
			<span><br/>{{chillax.nextNotification}}</span>
		</div>
  </body>
</html>