<!DOCTYPE html>

<html lang="en" ng-app="ChillaxApp">
<head>
    <link href="./foundation/css/foundation.css" rel="stylesheet">
    <link href="./font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="./sticky-footer/style.css" rel="stylesheet">
    <script src="./angularjs/angular.min.js"></script>
    <script src="./js/app.js"></script>
    
</head>

<body ng-controller="ChillaxController as chillax" data-ng-init="init()">
    <div id="wrap">
        <div id="main">
            <div class="row">
                &nbsp; <!-- Topmost row  for padding only -->
            </div>

            <div class="row">
                <div class="small-1 large-4 columns">
                    &nbsp;<!-- Padding column left -->
                </div>
               
                <!-- Begin - Central column that contains the controls -->
                <div class="small-10 large-4 columns">
                    
                    <!-- Begin - row that contains the enable button -->
                    <div class="row">
                        <div class="small-6 large-6 columns text-right">
                            Enable reminder
                        </div>

                        <div class="small-6 large-6 columns">
                            <div class="switch">
                                <input id="exampleCheckboxSwitch" type="checkbox" ng-model="enabled">
                                <label for="exampleCheckboxSwitch"></label>
                            </div>
                        </div>
                    </div>
                    <!-- End - row that contains the enable button -->
                    
                    <!-- Begin - row that contains the interval inputs and sound drop down -->
                    <div class="row">
                        <form>
                            
                            <!-- Begin - interval duration inputs --> 
                            <div class="row">
                                <div class="large-6 small-6 columns">
                                    <label>Reminder Interval <input max="999" min="1" placeholder="Duration in minutes" required="" type="number" ng-model="reminderInterval" ng-change="saveSettings()"></label>
                                </div>
                                <div class="large-6 small-6 columns">
                                    <label>Break Interval <input max="999" min="1" placeholder="Duration in minutes" required="" type="number" ng-model="breakInterval" ng-change="saveSettings()"></label>
                                </div>
                            </div>
                            <!-- End - interval duration inputs -->
                            
                            <!-- Begin - Sound drop down list -->
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row collapse">
                                        <div class="small-10 columns">
                                            <label>Play Sound 
                                                <select ng-model="sound" ng-change="saveSettings()">
                                                    <option value="NON">No sound</option>
                                                    <option value="DINGDONG">Ding Dong</option>
                                                    <option value="CHURCH">Church</option>
                                                    <option value="IMCHAT">IM Chat</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="small-2 columns">
                                            <label>&nbsp; <a class="button postfix fa fa-play-circle fa-4 text-left" href="#" style="font-style: italic; padding: 0px" ng-click="playSound()"></a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End- Sound drop down list -->
                            
                        </form>
                    </div>
                </div>
                <!-- End - Central column that contains the controls -->

                <div class="small-1 large-4 columns">
                    &nbsp;<!-- Padding column right -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- Begin - Footer -->
    <div id="footer" style="background: #2a2a2a; color: #e7989d; text-align: center">
        <!-- Next reminder will be at: 12:46pm rgb(156, 188, 104) !-->
        <span><br>
        {{nextNotification}}</span>
    </div>
    <!-- End - Footer -->
</body>
</html>